.social-list {
	display: flex;
	gap: 14px;

	@media (min-width: 768px) {
		gap: 20px;

		.social-icon--behance {
			width: 26.68px;
			height: 16.68px;
		}

		.social-icon--linkedin {
			width: 19px;
			height: 19px;
		}

		.social-icon--twitter {
			width: 20px;
			height: 20px;
		}

		.social-icon--upwork {
			width: 26px;
			height: 19px;
		}

		.social-icon--dribble {
			width: 19px;
			height: 19px;
		}

		.social-icon--git-hub {
			width: 17px;
			height: 19px;
		}
	}
}
