.social-container1 {
  position: fixed;
  top: 30%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  z-index: 99;
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 1px solid #ffc30012;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .socials {
    display: flex;
    flex-direction: column;
    padding: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid #ffc30012;
    border-radius: 20px;
    a {
      margin: 0;
      padding: 0;
      height: 28px;
    }
    svg {
      &:hover {
        // Якщо у вас кілька path і треба змінити саме другий
        path:nth-child(2) {
          fill: #d4af37;
          transition: fill 0.3s ease;
        }
        path:nth-child(3) {
          fill: #d4af37;
          transition: fill 0.3s ease;
        }
        path:nth-child(4) {
          fill: #d4af37;
          transition: fill 0.3s ease;
        }
        path:nth-child(5) {
          fill: #d4af37;
          transition: fill 0.3s ease;
        }
        path:nth-child(6) {
          fill: #d4af37;
          transition: fill 0.3s ease;
        }
      }
    }
  }
}
