@import '../../[lang]/app.scss';

.header-container {
  display: flex;
  align-items: center;
  height: 92px;
  position: relative;
  .header {
    @include responsive-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .number-and-lang {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }
  @media (max-width: 1024px) {
    height: 60px;
    .list-urls {
      display: none;
    }
    .logo-container {
      display: flex;
      align-items: flex-start;
      justify-content: left;
      justify-content: left;
      max-width: 80px;
      height: 19px;
      a {
        zoom: 0.4;
      }
    }
  }
}
