.language-wrapper {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  .language-container {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 0;

    p {
      color: #f6f6f6;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      text-transform: uppercase;
    }

    .chevron {
      transition: transform 0.3s ease;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown2 {
    position: absolute;
    top: 80%; // Змінив з 70% на 100%, щоб не перекривало текст
    left: -50%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    border-radius: 20px;
    border: 1px solid #d4af371a;
    backdrop-filter: blur(10px);

    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;

    background-color: transparent;

    ul {
      list-style: none;
      padding: 5px 0;
      margin: 0;

      background-color: transparent;

      li {
        background-color: transparent;
        a {
          display: block;
          padding: 8px 15px;
          color: #f6f6f6;
          text-decoration: none;
          font-size: 14px;
          text-align: center;
          transition: 0.2s;
          background-color: transparent;

          &:hover {
            color: #d4af37;
          }
        }
      }
    }
  }
  .dropdown2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .svg {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -5px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
