.faq-section.faq-section.faq-section {
  margin-bottom: 100px;

  @media (max-width: 1440px) {
    margin-bottom: 50px;
  }

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.faq-section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  .faq-section__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .faq-section__bg video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .faq-section__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .faq-section__title {
    font-family: Russo One;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-selected);
    text-align: left;
  }

  .faq-section__list {
    margin-top: 40px;
  }

  .faq-section__link {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(61, 61, 61, 1);
    font-family: Russo One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;

    .faq-section__arrow {
      transition: transform 0.3s ease;
    }

    &:hover {
      color: var(--color-text-selected);
      background-color: rgba(0, 0, 0, 0.1);

      .faq-section__arrow {
        transform: scale(0.75);
      }
    }

    span {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }

  @media (max-width: 1440px) {
    padding: 50px 0;

    .container {
      width: 728px;
    }

    .faq-section__title {
      font-size: 30px;
    }

    .faq-section__list {
      margin-top: 30px;
    }

    .faq-section__list .faq-section__item:nth-child(n + 5) {
      display: none;
    }

    .faq-section__link {
      height: 60px;
      align-items: center;
      font-size: 16px;
    }

    .faq-section__arrow {
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    .container {
      width: 350px;
    }

    .faq-section__title {
      font-size: 22px;
    }

    .faq-section__list {
      margin-top: 20px;
    }

    .faq-section__link {
      font-size: 14px;
    }
  }
}
