.burger-container {
  display: flex;
  align-items: center;
  position: relative;

  .burger-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .burger-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    background-color: #ffffff;
    border-radius: 10px;

    // ---- Анімація ----
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
    box-shadow: 0px 8px 24px 0px #00000060;

    &.open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}
