@use '../../[lang]/globals.scss' as *;

.footer {
  @include scoped-reset;

  position: relative;
  margin-top: 40px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-text-primary);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-top: 1px solid rgba(30, 30, 30, 1);
  }

  article {
    display: flex;
    flex-direction: column;
  }

  article:first-child {
    position: relative;
    gap: 14px;
    padding-bottom: 16px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      border-top: 1px solid rgba(30, 30, 30, 1);
    }

    section {
      height: 47px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  article:last-child {
    height: 44px;
    justify-content: space-between;

    p {
      font-size: 11px;
      font-weight: 400;
    }
  }

  @media (min-width: 768px) {
    margin-top: 50px;
    gap: 20px;

    article:first-child {
      height: 460px;
      gap: 20px;

      section {
        height: 34px;
      }
    }

    article:last-child {
      height: 18px;
      flex-direction: row;
      align-items: center;

      p {
        font-size: 12px;
      }
    }
  }

  @media (min-width: 1440px) {
    padding: 50px 0;
    margin-top: 100px;
    gap: 40;

    article:first-child {
      height: 220px;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;

      section {
        height: 92px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-bottom: 0;
      }
    }

    article:last-child p {
      font-size: 14px;
    }
  }
}
