.pagination-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> button:first-child {
		color: rgba(255, 255, 255, 0.3);
	}

	> button {
		font-size: 18px;
		span {
			display: none;
			font-size: 14px;
		}
	}

	ul {
		display: flex;
		gap: 15px;

		li:hover {
			color: var(--color-text-selected);
		}

		li:last-child {
			color: var(--color-text-selected);
		}
	}

	@media (min-width: 768px) {
		justify-content: center;
		gap: 50px;

		> button {
			display: flex;
			align-items: center;
			gap: 8px;

			span {
				display: block;
			}
		}
	}
}
