.blog-sidebar {
	display: none;

	@media (min-width: 1920px) {
		min-height: 1362px;
		width: 223px;
		display: flex;
		flex-direction: column;
		gap: 30px;

		> article {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 100%;

			h2 {
				font-family: Russo One;
				font-weight: 400;
				font-size: 20px;
				line-height: 100%;
				text-transform: uppercase;
			}
		}
	}
}
