.blog-hero {
	position: relative;
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	cursor: pointer;

	video {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		min-width: 390px;
		max-width: 390px;
		height: 450px;
		object-fit: cover;
		z-index: 1;
	}

	section {
		position: absolute;
		z-index: 2;
	}

	section:first-of-type {
		top: 20px;
		left: 0;
		font-size: 12px;
		font-weight: 400;

		span {
			color: var(--color-text-selected);
		}
	}

	section:last-of-type {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		h1 {
			font-family: Russo One;
			font-weight: 400;
			font-style: Regular;
			font-size: 22px;
			line-height: 100%;
			text-transform: uppercase;
			color: var(--color-text-selected);
			margin-bottom: 16px;
		}

		button {
			display: flex;
			justify-content: space-between;
			padding: 0 24px;
			align-items: center;
			width: 284px;
			height: 50px;
			color: rgb(12, 12, 12);
			background: var(--color-text-selected);
			font-weight: 600;
			font-size: 14px;
			line-height: 100%;
		}
	}

	.blog-hero__scroll {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}

	@media (min-width: 768px) {
		height: 500px;

		video {
			min-width: 768px;
			max-width: 768px;
			height: 500px;
		}

		section:first-of-type {
			font-size: 14px;
		}

		section:last-of-type {
			h1 {
				font-size: 30px;
				margin-bottom: 30px;
			}

			button {
				width: 323px;
				height: 55px;
				font-size: 15px;
			}
		}

		.blog-hero__scroll {
			bottom: 30px;
			width: 100px;
			height: 100px;
		}
	}

	@media (min-width: 1920px) {
		height: 600px;

		video {
			min-width: 1920px;
			max-width: 1920px;
			height: 600px;
		}

		section:last-of-type {
			h1 {
				font-size: 46px;
				margin-bottom: 40px;
			}

			button {
				width: 336px;
				height: 60px;
			}
		}

		.blog-hero__scroll {
			bottom: 80px;
		}
	}
}
