.blog-hero {
	position: relative;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);

	height: 450px;
	overflow: hidden;
	display: flex;
	align-items: center;

	video {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		width: 100%;
		max-width: 1920px;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		pointer-events: none;
	}

	section,
	.blog-hero__scroll {
		position: absolute;
		z-index: 2;

		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 390px;
		padding: 0 20px;
		box-sizing: border-box;
	}

	section:first-of-type {
		top: 20px;
		font-size: 12px;
		font-weight: 400;

		span {
			color: var(--color-text-selected);
		}
	}

	section:last-of-type {
		top: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-family: Russo One;
			font-weight: 400;
			font-size: 22px;
			line-height: 100%;
			text-transform: uppercase;
			color: var(--color-text-selected);
			margin-bottom: 16px;
		}

		button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 24px;
			width: 284px;
			height: 50px;
			color: rgb(12, 12, 12);
			background: var(--color-text-selected);
			font-weight: 600;
			font-size: 14px;
			line-height: 100%;
		}
	}

	.blog-hero__scroll {
		bottom: 20px;
	}

	@media (min-width: 768px) {
		height: 500px;

		section,
		.blog-hero__scroll {
			max-width: 768px;
		}

		section:first-of-type {
			font-size: 14px;
		}

		section:last-of-type {
			h1 {
				font-size: 30px;
				margin-bottom: 30px;
			}

			button {
				width: 323px;
				height: 55px;
				font-size: 15px;
			}
		}

		.blog-hero__scroll {
			bottom: 30px;
			width: 100px;
			height: 100px;
		}
	}

	@media (min-width: 1440px) {
		height: 600px;

		section,
		.blog-hero__scroll {
			max-width: 1440px;
		}

		section:last-of-type {
			h1 {
				font-size: 46px;
				margin-bottom: 40px;
			}

			button {
				width: 336px;
				height: 60px;
			}
		}

		.blog-hero__scroll {
			bottom: 80px;
		}
	}
}
