.lang-list {
	display: flex;
	flex-direction: row;
	gap: 8px;

	li {
		font-size: 11px;
		font-weight: 400;
		line-height: 100%;
	}

	@media (min-width: 768px) {
		li {
			font-size: 12px;
		}
	}

	@media (min-width: 1920px) {
	}
}
