$background-color: #0c0c0c;
$main-text-color: #d9d9d9;
$accent-color: #d4af37;

$white-color: #f6f6f6;
$gray-color: #414141;
$gray-color-200: #575757;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.hero {
  margin-top: 92px;
  position: relative;

  .heroBlur {
    position: absolute;
    left: -80;
    top: -70;
    width: 90px;
    height: 90px;
    background: $accent-color;
    border-radius: 99;
    filter: blur(70px);
    box-shadow: 1px -1px 20px 0px $accent-color;
  }

  & .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
      font-size: 36px;
      text-transform: uppercase;
      color: $accent-color;
      text-align: center;
      max-width: 300px;
      margin-top: 43px;
      margin-bottom: 215px;
    }

    .imageWrapper {
      position: absolute;
      display: flex;
      z-index: 999;
      top: 0;
      justify-content: center;

      .image {
        position: relative;
        width: 300px;
        height: 354px;
      }

      .socials {
        position: absolute;
        bottom: 20px;
      }

      .badgeWrapper {
        display: none;
      }

      .icon {
        position: absolute;
        top: -13px;
        left: 37px;
        width: 50px;
        height: 50px;
      }

      .rightCircle1 {
        position: absolute;
        right: 32px;
        top: -1.3px;
        z-index: 2;

        &::after {
          content: ' ';
          display: block;
          top: 0;
          right: 0;
          width: 22px;
          height: 21px;
          position: absolute;
          background: $accent-color;
          border-radius: 99;
          filter: blur(15px);
          box-shadow: 1px -1px 20px 0px $accent-color;
        }

        img {
          width: 40px;
          height: 38px;
        }
      }

      .rightCircle2 {
        position: absolute;
        right: 2px;
        top: 153px;
        transform: rotate(174deg);

        &::after {
          content: ' ';
          display: block;
          top: 4;
          left: 0;
          width: 19px;
          height: 19px;
          position: absolute;
          background: $accent-color;
          border-radius: 99;
          filter: blur(15px);
          box-shadow: -8px 1px 5px 0px $accent-color;
        }

        img {
          width: 31px;
          height: 30px;
        }
      }

      .rightCircle3 {
        position: absolute;
        right: 25px;
        top: 251px;
        transform: rotate(-107deg);

        img {
          width: 22px;
          height: 21px;
        }
      }

      .leftCircle1 {
        position: absolute;
        left: 8px;
        top: 48px;
        transform: rotate(-87deg);

        &::after {
          content: ' ';
          display: block;
          top: 0;
          left: 10px;
          width: 17px;
          height: 17px;
          position: absolute;
          background: $accent-color;
          border-radius: 99;
          filter: blur(15px);
          box-shadow: 3px -3px 9px 3px $accent-color;
        }

        img {
          width: 30px;
          height: 28px;
        }
      }

      .leftCircle2 {
        position: absolute;
        left: 27px;
        top: 130px;

        img {
          width: 22px;
          height: 21px;
        }
      }

      .leftCircle3 {
        position: absolute;
        left: -20px;
        top: 181px;

        &::after {
          content: ' ';
          display: block;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          position: absolute;
          background: $accent-color;
          border-radius: 99;
          filter: blur(15px);
          box-shadow: 2px -1px 5px 1px $accent-color;
        }

        img {
          width: 40px;
          height: 38px;
        }
      }
    }

    .description {
      font-size: 13px;
      font-family: var(--font-montserrat);
      text-align: justify;
      line-height: 1.3;
      max-width: 534px;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .hero {
    .heroBlur {
      left: -80;
      top: -20;
      width: 150px;
      height: 150px;

      filter: blur(130px);
      box-shadow: 1px -1px 0px 0px $accent-color;
    }

    .inner {
      .title {
        font-size: 70px;
        max-width: 600px;
        margin-bottom: 229px;
      }

      .description {
        font-size: 15px;
        font-weight: 500;
      }

      .imageWrapper {
        .image {
          width: 400px;
          height: 472px;
        }

        .socials {
          bottom: 50px;
        }

        .badgeWrapper {
          position: absolute;
          right: -45px;
          bottom: 82px;
          display: block;

          .badge {
            position: relative;
            width: 71px;
            height: 71px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            border-radius: 50%;
            border: 0.51px solid rgba(212, 175, 55, 0.5);

            &::before {
              content: '';
              position: absolute;
              inset: 5px;
              border-radius: 50%;
              border: 1px solid #d4af37;
            }

            span {
              position: relative;
              z-index: 2;
              font-family: var(--font-montserrat);
              font-weight: 400;
              font-size: 5px;
              text-transform: uppercase;
              text-align: center;
              max-width: 40px;
            }
          }
        }

        .icon {
          top: -48px;
          left: -9px;
          width: 80px;
          height: 90px;
        }

        .rightCircle1 {
          right: -141px;
          top: 20px;

          &::after {
            width: 49px;
            height: 49px;
            filter: blur(30px);
          }

          img {
            width: 90px;
            height: 86px;
          }
        }

        .rightCircle2 {
          right: -34px;
          top: 229px;

          &::after {
            width: 32px;
            height: 32px;
            filter: blur(20px);
          }

          img {
            width: 52px;
            height: 50px;
          }
        }

        .rightCircle3 {
          right: -110px;
          top: 194px;

          img {
            width: 30px;
            height: 28px;
          }
        }

        .leftCircle1 {
          left: -66px;
          top: 68px;

          &::after {
            display: none;
          }

          img {
            width: 46px;
            height: 44px;
          }
        }

        .leftCircle2 {
          left: -56px;
          top: 226px;

          &::after {
            content: ' ';
            display: block;
            top: 4;
            left: 0;
            width: 42px;
            height: 42px;
            position: absolute;
            background: $accent-color;
            border-radius: 99;
            filter: blur(40px);
            box-shadow: -8px 1px 5px 0px $accent-color;
          }

          img {
            width: 70px;
            height: 66px;
          }
        }

        .leftCircle3 {
          left: -110px;
          top: 351px;

          &::after {
            width: 17px;
            height: 17px;

            filter: blur(10px);
            box-shadow: 2px -1px 5px 1px $accent-color;
          }

          img {
            width: 30px;
            height: 28px;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .hero {
    .heroBlur {
      left: -60;
      width: 140px;
      height: 140px;
      filter: blur(120px);
    }

    & .inner {
      .title {
        font-size: 120px;
        max-width: 960px;
        margin-bottom: 316px;
      }

      .description {
        font-size: 16px;
        max-width: 588px;
      }

      .imageWrapper {
        .image {
          width: 598px;
          height: 706px;
        }

        .socials {
          bottom: 86px;
        }

        .badgeWrapper {
          right: -221px;
          bottom: 99px;

          .badge {
            width: 140px;
            height: 140px;

            gap: 5px;

            border: 1px solid rgba(212, 175, 55, 0.5);

            &::before {
              inset: 10px;
            }

            .arrowIcon {
              width: 20px;
              height: 20px;
            }
            span {
              font-size: 10px;
              max-width: 80px;
            }
          }
        }

        .icon {
          top: 35px;
          left: -220px;
          width: 160px;
          height: 170px;
        }

        .rightCircle1 {
          right: -384px;
          top: 108px;

          &::after {
            width: 79px;
            height: 79px;
            filter: blur(50px);
          }

          img {
            width: 143px;
            height: 136px;
          }
        }

        .rightCircle2 {
          right: -98px;
          top: 331px;

          &::after {
            width: 44px;
            height: 44px;
            filter: blur(30px);
          }

          img {
            width: 71px;
            height: 67px;
          }
        }

        .rightCircle3 {
          right: 71px;
          top: 480px;

          img {
            width: 40px;
            height: 38px;
          }
        }

        .leftCircle1 {
          left: -386px;
          top: 256px;

          &::after {
            display: block;
            width: 79px;
            height: 79px;
            filter: blur(50px);
            left: 50px;
            box-shadow: 3px -3px 9px 3px $accent-color;
          }

          img {
            width: 132px;
            height: 126px;
          }
        }

        .leftCircle2 {
          left: -86px;
          top: 390px;

          &::after {
            width: 47px;
            height: 48px;

            filter: blur(50px);
          }

          img {
            width: 77px;
            height: 75px;
          }
        }

        .leftCircle3 {
          left: -180px;
          top: 508px;

          &::after {
            display: none;
          }

          img {
            width: 46px;
            height: 44px;
          }
        }
      }
    }
  }
}
