:root {
	/* Fonts */
	--font-sans: var(--font-montserrat), system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-heading: var(--font-russo), system-ui, sans-serif;

	/* Colors */

	/* Text */
	--color-text-primary: rgb(217, 217, 217);
	--color-text-header: rgb(246, 246, 246);
	--color-text-pagination: rgb(255, 255, 255);
	--color-text-selected: rgb(212, 175, 55);

	/* Backgrounds */
	--color-bg-primary: rgb(0, 0, 0);
	--color-bg-btn: linear-gradient(90deg, #d4af37 0%, #ffda63 100%);

	/* Borders */
	--color-border-default: #e2e8f0;
	--color-border-focus: #2563eb;
}
