.web-development-hero {
  position: relative;
  max-width: 100vw;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .web-development-hero__bg {
    position: absolute;
    width: 100%;
    min-width: 940px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;

    .web-development-hero__bgImg {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .web-development-hero__overlay {
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
    }

    .web-development-hero__scroll {
      position: absolute;
      z-index: 2;

      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
      width: 100%;
      max-width: 390px;
      box-sizing: border-box;
    }
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .web-development-hero__bread-crumbs {
    padding-top: 20px;
  }

  .web-development-hero__title {
    margin-top: 134.5px;
    color: var(--color-text-selected);
    font-family: Russo One;
    font-weight: 400;
    font-size: 46px;
    text-transform: uppercase;
  }

  .web-development-hero__quote {
    margin-top: 14px;
    font-size: 15px;
    font-weight: 400;
    max-width: 383px;

    cite {
      display: inline-block;
      font-weight: 600;
      margin-top: 10px;
      font-style: normal;
    }
  }

  .web-development-hero__btn {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 276px;
    height: 60px;
    color: rgb(12, 12, 12);
    background: var(--color-text-selected);
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
  }

  @media (max-width: 1440px) {
    height: 500px;

    .web-development-hero__bg .web-development-hero__scroll {
      bottom: 30px;
    }

    .container {
      max-width: 728px;
    }

    .web-development-hero__title {
      margin-top: 103.5px;
      font-size: 30px;
    }

    .web-development-hero__btn {
      margin-top: 30px;
      width: 250px;
      height: 55px;
    }
  }

  @media (max-width: 768px) {
    height: 450px;

    .web-development-hero__bg .web-development-hero__scroll {
      bottom: 20px;
      width: 70px;
      height: 70px;
    }

    .container {
      max-width: 350px;
      overflow: hidden;
    }

    .web-development-hero__title {
      margin-top: 78.5px;
      font-size: 22px;
    }

    .web-development-hero__btn {
      margin-top: 30px;
      width: 250px;
      height: 55px;
    }
  }
}
