.post-hero {
  position: relative;
  max-width: 100vw;
  height: 600px;
  overflow: hidden;

  .post-hero__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;

    .post-hero__bgImg {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .post-hero__overlay {
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
    }

    .post-hero__scroll {
      position: absolute;
      z-index: 2;

      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
      width: 100%;
      max-width: 390px;
      box-sizing: border-box;
    }
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .post-hero__bread-crumbs {
    padding-top: 20px;
  }

  .post-hero__title {
    margin-top: 190px;
    color: var(--color-text-selected);
    font-family: Russo One;
    font-weight: 400;
    font-size: 46px;
    text-transform: uppercase;
  }

  .post-hero__meta {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;

    .post-hero__metaItem {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        font-size: 14px;
      }
    }
  }

  .post-hero__tags {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 1440px) {
    height: 500px;

    .post-hero__bg .post-hero__scroll {
      bottom: 30px;
    }

    .container {
      max-width: 728px;
    }

    .post-hero__title {
      margin-top: 150px;
      font-size: 30px;
    }
  }

  @media (max-width: 768px) {
    height: 450px;

    .post-hero__bg .post-hero__scroll {
      bottom: 20px;
      width: 70px;
      height: 70px;
    }

    .container {
      max-width: 350px;
    }

    .post-hero__title {
      margin-top: 138px;
      font-size: 22px;
    }

    .post-hero__meta {
      gap: 12px;
    }
  }
}
