$background-color: #0c0c0c;
$main-text-color: #d9d9d9;
$accent-color: #d4af37;

$white-color: #f6f6f6;
$gray-color: #414141;
$gray-color-200: #575757;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.projects {
  margin-top: 40px;

  .head {
    margin-bottom: 20px;

    .title {
      color: $accent-color;
      font-size: 22px;
      text-transform: uppercase;
    }

    .actionBtn {
      display: none;
    }
  }
  .actionBtn {
    background: transparent;
    color: $white-color;
    border: 1px solid $white-color;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    font-family: var(--font-montserrat);
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    max-width: 350px;
    transition: background 0.3s ease;
    margin: 0 auto;
    margin-top: 20px;

    &:hover {
      background: linear-gradient(90deg, #d4af37 0%, #ffda63 100%);
      color: #000000;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .projects {
    margin-top: 50px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .title {
        font-size: 30px;
      }

      .actionBtn {
        max-width: 327px;
        background: transparent;
        color: $white-color;
        border: 1px solid $white-color;
        padding: 15px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
        font-family: var(--font-montserrat);
        font-size: 15px;
        font-weight: 600;
        width: 100%;
        max-width: 350px;
        transition: background 0.3s ease;
        margin: 0;

        &:hover {
          background: linear-gradient(90deg, #d4af37 0%, #ffda63 100%);
          color: #000000;
        }
      }
    }

    .actionBtn {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .projects {
    margin-top: 100px;

    .title {
      font-size: 40px;
      margin-bottom: 46px;
    }
  }
}
