.why-us.why-us.why-us {
  margin-top: 100px;

  @media (max-width: 1440px) {
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.why-us {
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  .why-us__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .why-us__bg video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .why-us__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .container {
    width: 1440px;
    margin: 0 auto;

    header {
      position: relative;
    }
  }

  .why-us__title {
    font-family: Russo One;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-selected);
    text-align: center;
  }

  .why-us__list {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .why-us__item {
    width: 480px;
    height: 175px;
    padding: 24px;
  }

  .why-us__card {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .why-us__card-title {
    display: flex;
    align-items: start;
    font-family: Russo One;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
  }

  .why-us__badge {
    font-family: Russo One;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-selected);
    margin-right: 16px;
  }

  .why-us__description {
    font-size: 15px;
  }

  @media (max-width: 1440px) {
    padding: 50px 0;

    .container {
      width: 728px;
    }

    .why-us__title {
      font-size: 30px;
    }

    .why-us__list {
      margin-top: 30px;
    }

    .why-us__item {
      width: 364px;
      height: 166px;
      padding: 16px;
    }

    .why-us__card {
      width: 288px;
      gap: 14px;
    }

    .why-us__card-title {
      font-size: 18px;
    }

    .why-us__badge {
      font-size: 22px;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    .container {
      width: 350px;
    }

    .why-us__title {
      font-size: 22px;
    }

    .why-us__list {
      margin-top: 20px;
    }

    .why-us__item {
      width: 350px;
      height: 145px;
    }

    .why-us__description {
      font-size: 14px;
    }
  }
}
