$background-color: #0c0c0c;
$main-text-color: #d9d9d9;
$accent-color: #d4af37;

$white-color: #f6f6f6;
$gray-color: #414141;
$gray-color-200: #575757;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.process {
  position: relative;
  overflow: hidden;
  margin-top: 67px;
  padding: 72px 0 50px 0;
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  clippath: shape(
    from 100% 100%,
    line to 95.83% 97.46%,
    curve to 75% 87.79% with 91.67% 94.91%/83.33% 89.82%,
    curve to 50% 88.81% with 66.67% 85.75%/58.33% 86.77%,
    curve to 25% 95.42% with 41.67% 90.84%/33.33% 93.89%,
    curve to 4.17% 96.95% with 16.67% 96.95%/8.33% 96.95%,
    hline to 0%,
    vline to 0%,
    line to 4.17% 3.03%,
    curve to 25% 14.55% with 8.33% 6.06%/16.67% 12.12%,
    curve to 50% 13.33% with 33.33% 16.97%/41.67% 15.76%,
    curve to 75% 5.45% with 58.33% 10.91%/66.67% 7.27%,
    curve to 95.83% 3.64% with 83.33% 3.64%/91.67% 3.64%,
    hline to 100%,
    vline to 100%,
    close
  );

  &::before {
    content: '';
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      $gray-color-200 60%,
      transparent 20%
    );
    background-position: bottom;
    background-size: 15px 1px;
    background-repeat: repeat-x;
    z-index: 3;
  }

  .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%) brightness(1);
    mix-blend-mode: luminosity;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: 0;
  }

  .inner {
    z-index: 3;
  }

  .title {
    color: $accent-color;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .processCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    width: 165px;
    gap: 12px;

    .number {
      background: linear-gradient(90deg, #d4af37 0%, #c89b2f 35%, #8c6a1f 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.2;
      font-size: 36px;
    }

    .dot {
      position: relative;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background: radial-gradient(
        circle,
        $accent-color 10%,
        $accent-color 20%,
        transparent 70%
      );

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $accent-color;
        opacity: 0.2;
        animation: pulse 1s infinite ease-out;
        z-index: 5;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .infoTitle {
        font-size: 18px;
        text-transform: uppercase;
      }

      .infoText {
        font-family: var(--font-montserrat);
        font-size: 15px;
        max-width: 165px;
        word-break: break-all;
        display: -webkit-box;

        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@media (min-width: $breakpoint-tablet) {
  .process {
    margin-top: 50px;
    height: 450px;
    padding: 93px 0;

    &::before {
      content: '';
      position: absolute;
      top: 232px;
    }

    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .processCard {
      width: 354px;
      gap: 14px;

      .number {
        font-size: 46px;
      }

      .info {
        gap: 8px;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .process {
    margin-top: 115px;
    height: 814px;
    padding: 242px 0;

    &::before {
      content: '';
      position: absolute;
      top: 455px;
    }

    .title {
      font-size: 46px;
      margin-bottom: 40px;
    }

    .slider {
      :global(.container) {
        max-width: 100vw;
        margin: 0;
      }

      .sliderWrapper {
        display: flex;
        justify-content: center;
      }
    }

    .processCard {
      width: 295px;
      gap: 20px;

      .number {
        font-size: 80px;
      }

      .info {
        gap: 12px;

        .infoTitle {
          font-size: 22px;
        }
      }
    }
  }
}
