.logo {
	width: 135px;
	height: 31px;
	display: block;

	img {
		width: 100%;
		object-fit: contain;
	}

	@media (min-width: 768px) {
		width: 150px;
		height: 34px;
	}

	@media (min-width: 1440px) {
		width: 230px;
		height: 52px;
	}
}
