.popular-post-item {
	h3 {
		font-family: Russo One;
		font-weight: 400;
		font-size: 11px;
		line-height: 100%;
		text-transform: uppercase;
		margin-top: 12px;
	}

	&:hover {
		color: var(--color-text-selected);
	}
}
