.footer-nav {
	width: 100%;
	display: flex;
	flex-direction: column;

	ul {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	@media (min-width: 768px) {
		ul {
			display: grid;
			grid-template-columns: 249px 239px 200px;
			gap: 20px;
		}
	}

	@media (min-width: 1920px) {
		width: min-content;
		border: none;
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 80px;
		}
	}
}
