#bread-crumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  li {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #d4af37;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    span {
      color: #ffffff;
    }

    a {
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
