$background-color: #0c0c0c;
$main-text-color: #d9d9d9;
$accent-color: #d4af37;

$white-color: #f6f6f6;
$gray-color: #414141;
$gray-color-200: #575757;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.card {
  position: relative;
  overflow: hidden;

  width: 350px;
  height: 350px;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;

    .image {
      transition: transform 0.5s ease;
      inset-block-end: luminosity;
      filter: grayscale(100%) brightness(1);
    }

    .overlay {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: start;
      padding: 20px;
      background: rgba(12, 12, 12, 0);
      backdrop-filter: blur(25px);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      text-align: center;
    }

    &:hover {
      .overlay {
        background: rgba(12, 12, 12, 0.1);
        opacity: 1;
      }
    }
  }
}

.title {
  color: $accent-color;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.category {
  font-size: 13px;
  margin-bottom: 36px;
  border: 1px solid $accent-color;
  padding: 5px;
}

.actionBtn {
  background: linear-gradient(90deg, #d4af37 0%, #ffda63 100%);
  box-shadow: 0px 5px 15px 0px rgba(255, 195, 0, 0.4);
  border: none;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: 15px;
  font-weight: 600;
  transition: background 0.2s ease;

  &:hover {
    filter: brightness(1.1);
  }
}

@media (min-width: $breakpoint-tablet) {
  .card {
    width: 354px;
    height: 450px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .card {
    width: 466px;
    height: 570px;
  }
}
