@use '../globals.scss' as *;

.web-development-page {
  @include scoped-reset;

  margin-top: 92px;
  color: var(--color-text-primary);

  display: flex;
  flex-direction: column;

  @media (max-width: 1440px) {
  }

  @media (max-width: 768px) {
    margin-top: 60px;
  }
}
