header {
	width: 100%;
	height: 71px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	article {
		display: flex;
		align-items: center;
		gap: 20px;

		section {
			display: flex;
			align-items: center;
			gap: 5px;
			cursor: pointer;
		}
	}

	@media (min-width: 768px) {
		height: 74px;
	}

	@media (min-width: 1440px) {
		height: 92px;

		section:last-child {
			display: none;
		}
	}
}
