.blog-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0px;

		> li:nth-child(n + 3) {
			margin-top: 50px;
		}
	}

	@media (min-width: 1440px) {
		> li:nth-child(n + 3) {
			margin-top: 70px;
		}
	}
}
