.nav-list {
	display: none;

	ul {
		display: flex;
		justify-content: end;
		align-items: center;
		li:not(:last-child) {
			margin-right: 20px;
		}
	}

	@media (min-width: 1920px) {
		display: flex;
	}
}
