@import '../../[lang]/app.scss';

.map-container {
  @include responsive-width;
  @include margin-page;
  h2 {
    margin: 0;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #d4af37;
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
  img {
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
}
