.search-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 3.5px 0px 19.5px;

	border-bottom: 1px solid white;

	input {
		width: 120px;
		height: 17px;
		color: var(--color-text-header);
		background: var(--color-bg-primary);
		font-weight: 600;
		line-height: 100%;
		font-size: 14px;
	}
}
