.blog-list-item {
	width: 100%;

	> article {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;

		h3 {
			font-family: Russo One;
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;

			text-transform: uppercase;
		}

		p {
			font-size: 13px;
		}

		ul {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;
			color: rgba(113, 113, 113);
		}

		section {
			display: flex;
			align-items: center;
			justify-content: space-between;

			article:first-child {
				display: flex;
				align-items: center;
				gap: 12px;

				p {
					display: flex;
					flex-direction: column;
					gap: 3px;

					span:first-child {
						font-size: 15px;
					}
				}
			}

			article:last-child {
				display: flex;
				align-items: center;
				gap: 1px;
			}
		}

		a {
			width: 140px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	@media (min-width: 768px) {
		width: 354px;

		> article {
			> img {
				width: 354px;
				height: 186px;
			}
		}
	}

	@media (min-width: 1440px) {
		width: 527.5px;

		> article {
			> img {
				width: 527.5px;
				height: 186px;
			}

			h3 {
				font-size: 22px;
			}
		}
	}
}
