.content-wrapper.content-wrapper {
  width: 350px;
  margin: 0 auto;
  min-height: 400px;

  @media (min-width: 768px) {
    width: 728px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
  }
}
