.blog-layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: var(--color-text-primary);

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 1440px) {
    margin-top: 100px;
  }
}
