.step-badge {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  background: var(--color-text-selected);
  border: 7px solid #8c6a1f;

  font-weight: 700;
  font-size: 14px;
  line-height: 1;

  user-select: none;

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
    border: 6px solid #8c6a1f;
    font-weight: 500;
    font-size: 12px;
  }
}
