$background-color: #0c0c0c;
$main-text-color: #d9d9d9;
$accent-color: #d4af37;

$white-color: #f6f6f6;
$gray-color: #414141;
$gray-color-200: #575757;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.wrapper {
  display: flex;
  gap: 6px;
}

.social {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: rgba(12, 12, 12, 0.4);
  backdrop-filter: blur(40px);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #d4af37 0%, #ffda63 100%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .wrapper {
    gap: 8px;
  }

  .social {
    width: 54px;
    height: 54px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .wrapper {
    gap: 12px;
  }
}
