.footer-nav-item {
	display: flex;
	flex-direction: column;

	position: relative;

	> h2 {
		display: none;
		font-size: 15px;
		color: var(--color-text-pagination);
	}

	input[type='checkbox'] {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	label {
		display: flex;
		justify-content: space-between;
		cursor: pointer;

		h2 {
			font-size: 15px;
			color: var(--color-text-pagination);
		}

		span:last-child {
			display: none;
		}
	}

	input + label + ul {
		display: none;

		li {
			white-space: nowrap;
			cursor: pointer;
		}
	}

	input[type='checkbox']:checked {
		+ label {
			span:nth-child(2) {
				display: none;
			}
			span:last-child {
				display: inline;
			}
			+ ul {
				display: flex;
				flex-direction: column;
				gap: 8px;
				font-size: 13px;
				font-weight: 300;
				line-height: 100%;

				li:first-child {
					margin-top: 10px;
				}
			}

			.footer-nav__icon {
				transform: rotate(45deg);
			}
		}
	}

	@media (min-width: 768px) {
		gap: 20px;

		> h2 {
			display: block;
			font-size: 16px;
		}

		input + label + ul {
			display: block;
			font-size: 14px;

			li:not(:first-child) {
				margin-top: 12px;
			}
		}

		input,
		label {
			display: none;
		}
	}

	@media (min-width: 1440px) {
		> h2 {
			display: block;
			font-size: 18px;
		}

		input + label + ul {
			display: block;
			font-size: 15px;
		}
	}
}
