@mixin responsive-width {
  margin: 0 auto;
  max-width: 1440px;
  @media (min-width: 768px) {
    width: 92%;
  }
  /*
  @media (max-width: 1024px) and (min-width: 768px) {
    width: 95%;
  }*/

  @media (max-width: 767px) {
    width: 94%;
  }
  @media (max-width: 375px) {
    width: 96%;
  }
}

@mixin margin-page {
  margin-top: 45px;
  margin-bottom: 45px;
  @media (max-width: 1150px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
html {
    scroll-behavior: smooth;
}
body {
  background-color: #0c0c0c;
  font-family: var(--font-montserrat), sans-serif; // базовий текст
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-russoOne), sans-serif; // заголовки
}

header {
  top: 0;
  position: absolute;
  max-width: 99%;
  width: 100%;
  z-index: 9;
}
