.web-development-process.web-development-process.web-development-process {
  margin-top: 100px;

  @media (max-width: 1440px) {
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}
.web-development-process {
  .container {
    position: relative;
    width: 1440px;
    margin: 0 auto;

    header {
      position: relative;
    }
  }

  .web-development-process__bgImg {
    position: absolute;
    top: 0;
    right: -482px;
    z-index: -1;
    object-fit: cover;
    max-width: fit-content;
  }

  .web-development-process__title {
    padding-top: 156px;
    font-family: Russo One;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-selected);
  }

  .web-development-process__list {
    padding-bottom: 22px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
  }

  .web-development-process__item {
    width: 466.5px;
    min-height: 181px;
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 12px;
      margin-top: 16px;

      font-family: Russo One;
      font-weight: 400;
      font-size: 22px;
      line-height: 1;
      text-transform: uppercase;
    }

    .web-development-process__description {
      font-size: 15px;
    }
  }

  .web-development-process__item:not(:last-child) {
    margin-right: 15.5px;
  }

  .web-development-process__item:nth-child(2) {
    margin-right: 100px;
  }

  .web-development-process__item:nth-child(n + 3) {
    margin-top: 24px;
  }

  @media (max-width: 1440px) {
    .container {
      width: 728px;
    }

    .web-development-process__bgImg {
      top: 20px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    .web-development-process__title {
      padding-top: 0px;
      font-size: 30px;
    }

    .web-development-process__list {
      padding-bottom: 0px;
      margin-top: 30px;
      gap: 24px;
    }

    .web-development-process__item {
      width: 100%;

      h3 {
        margin-bottom: 8px;
        margin-top: 14px;
        font-size: 18px;
      }

      .web-development-process__description {
        padding-right: 122px;
      }
    }

    .web-development-process__item:nth-child(n) {
      margin: 0;
      min-height: 50px;
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 350px;
    }

    .web-development-process__title {
      font-size: 22px;
    }

    .web-development-process__list {
      gap: 16px;
    }

    .web-development-process__item {
      h3 {
        font-size: 18px;
      }

      .web-development-process__description {
        font-size: 14px;
        padding-right: 80px;
      }
    }
  }
}
