@import '../../[lang]/app.scss';

.cookies-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #0c0c0c99;
  backdrop-filter: blur(40px);
  width: 100%;
  z-index: 100;
  .cookies {
    @include responsive-width;
    padding: 30px 0;
    h2 {
      font-style: Regular;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #d4af37;
    }
    .p1 {
      font-weight: 400;
      font-style: Regular;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #ffffff;
      a {
        font-weight: 700;
        font-style: Bold;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #ffffff;
      }
    }
    h3 {
      font-weight: 700;
      font-style: Bold;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #ffffff;
    }
    .p2 {
      font-weight: 400;
      font-style: Regular;
      font-size: 13px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #cbcbcb;
    }
    .row {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-top: 20px;
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        padding: 20px;
        height: 60px;
        box-sizing: border-box;
        cursor: pointer;
        border: 2px solid transparent; // preserve size on hover
        transition: all 0.3s ease;
        color: inherit;
      }
      .accept {
        background: linear-gradient(90deg, #d4af37 0%, #ffda63 100%);
        border: 2px solid transparent;
        border-image: linear-gradient(90deg, #d4af37 0%, #ffda63 100%) 1;
        color: #0c0c0c;

        &:hover {
          background: transparent;
          border: 2px solid #ffffff;
          border-image: none;
          color: #ffffff;
        }
      }
      .reject {
        background-color: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;

        &:hover {
          background: linear-gradient(90deg, #d4af37 0%, #ffda63 100%);
          border: 2px solid transparent;
          border-image: linear-gradient(90deg, #d4af37 0%, #ffda63 100%) 1;
          color: #0c0c0c;
        }
      }
    }
  }
}
